@tailwind base;
@tailwind components;
@tailwind utilities;

nav{
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.title{
    font-size: 42px;
    font-weight: 700;
    margin: 0 auto;
}

.form{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
    
}

.list{
    display: flex;
    max-width: 1200px;
    gap: 30px;
    border-radius: 24px;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;;
}
.item{
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }
.card-img{
    width: 200px;
    height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
.content{
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
    width: 200px;
    padding: 10px;
    padding-bottom: 30px;

}
.year{
    text-align: end;
    font-size: 15px;
    
 
}